* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
}

#grid-container > * {
    width: 100px;
    height: 100px;
    border: 1px solid aqua;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}
#grid-container > .clicked {
    border-color: aquamarine;
    background-color: lightcoral;
}